<div class="nav">
  <div class="nav-container">
    {{#link-to 'index'}}Back to Home{{/link-to}}
  </div>
</div>
<div class="container">

<h2>Senate, House, and Joint Committees</h2>

<h3>House Committees</h3>
<ul>
  {{#each model.house as |house|}}
    <li>{{#link-to 'house-sub' house.committee_id}}{{house.name}}{{/link-to}}</li>
  {{/each}}
</ul>

<h3>Senate Committees</h3>
<ul>
  {{#each model.senate as |senate|}}
    <li>{{senate.name}}</li>
  {{/each}}
</ul>


</div>
