<div class="nav">
  <div class="nav-container">
  </div>
</div>

<div class="container">

  <div class="feature-box leg-lookup">
    {{lookup-form zipLookup="zipLookup"}}
  </div>
  <div class="feature-box com-lookup">
    <h2>View Senate and House {{#link-to 'committee'}}Committees{{/link-to}}</h2>
  </div>
  <div class="feature-box leg-lookup">
    <h2>View {{#link-to 'bills'}}Recent Bills{{/link-to}}</h2>
  </div>

</div>
